<h1>Welcome to Musify</h1>

<p> If you want to signup, input in link as given format
	http://localhost:3000/SignUp/?username='username'&pass='password'&email='xyz'@mail.com</p>


<p> If you want to login, input in link as given format
	http://localhost:3000/SignUp/?username='username'&pass='password'</p>
 <%= link_to 'About', about_path %>